<app-nav [links]="['Questions', 'NewQuestions']" [isHome]="true"></app-nav>
<div style="margin-left: 37vw; margin-top: 10vw">
  <h1 style="font-size: xx-large">Welcome <b>Admin</b> at Do-Connect!</h1>
</div>
