@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body{
    background-color: rgb(218, 156, 152);
}

body::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    
    background-image: url('./assets/home-bg.jpg'); /*Put your image url*/
    background-size: cover;
    background-position: center;
    opacity: 0.60; /*Value from 0.0 to 1.0*/
}