
<div style="margin-top: 10%; margin-left: 7%;">
  <mat-card style="margin-top: 1%; max-width: fit-content; padding:70px; text-align:center; background: linear-gradient(140deg, rgb(151, 31, 75,1) 45%, rgb(151, 31, 75,0.7) 64%); color: white;">
    <mat-card-title style="font-size: 40px; padding:20px;">
      {{ title }}
    </mat-card-title>
    <mat-card-subtitle style="font-size: 20px; padding-bottom: 20px; color: white">
      <em>{{ subtitle1 }}</em>
    </mat-card-subtitle>
    <mat-card-subtitle style="font-size: large; color: white">
      <em>{{ subtitle2 }}</em>
    </mat-card-subtitle>
    <mat-card-content style="font-size: large">
      <em>{{ team }}</em>
    </mat-card-content>
  </mat-card>
</div>
