<app-nav
  [isHome]="true"
  [links]="['UserQuestions', 'Chat', 'AskQuestion']"
></app-nav>

<mat-card style="margin-top: 20vh; width: 20vw; margin-left: 40vw; padding:50px;">
  <mat-card-title style="margin-left: 22%;color: rgb(151, 31, 75); margin-bottom:10%;"><b>Post the Question</b></mat-card-title>
  <mat-card-content>
    <div style="display: flex; justify-content: center; align-items: center; padding-left:80px;">
      <form>
        <mat-form-field>
          <mat-label>Ask Any Question</mat-label>
          <textarea
            type="text"
            name="question"
            matInput
            [(ngModel)]="question"
            rows="5"
          ></textarea>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Topic</mat-label>
          <input type="text" name="topic" matInput [(ngModel)]="topic" />
        </mat-form-field>
      </form>
    </div>
    <button
      mat-raised-button
      style="margin-top: 5%; margin-left: 40%; background-color: rgb(151, 31, 75);color:white;"
      (click)="saveQuestion()"
    >
      Post
    </button>
  </mat-card-content>
</mat-card>
