<app-nav [isHome]="false"></app-nav>
<app-title
  title="Admin Dashboard"
  subtitle1="Admin can sign in here."
></app-title>
<div style="max-width: 20%; margin-left: 75%; top: 30%; position: absolute">
<mat-card style="margin-right: 20%;">
    <mat-card-title style="margin-left: 18%">Admin Sign In</mat-card-title>
    <mat-card-content>
      <div style="display: flex; justify-content: center; align-items: center">
        <form>
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input type="email" name="email" matInput [(ngModel)]="email" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input
              type="password"
              name="password"
              matInput
              [(ngModel)]="password"
            />
          </mat-form-field>
        </form>
      </div>
      <button
        mat-raised-button
        style="margin-left: 85px; margin-top:10px ;text-align: center;background-color: rgb(151, 31, 75);color:white; padding:4px;"
        (click)="log()"
      >
        Sign In
      </button>
    </mat-card-content>
  </mat-card>
  </div>